{% extends 'base/base.html' %}
{% block content %}
    {% load static %}
    <link rel="stylesheet" href="{% static 'main.css' %}">
    {% if user.is_active %}
    <div id="main">

    <h1>welcome {{user.username}}</h1>
        <br>
    <p>E-mail: {{ user.email }}</p>
        <br>
    <p>Original major: {{ user.profile.major1 }}</p>
        <br>
    <p>Secondary major: {{ user.profile.major2 }}</p>
        <br>
    <!--<a href="{% url 'account:logout' %}">logout</a>-->

<div class="" id="main_gate">
    <img src="{% static "account/images/main_gate.jpg" %}" alt="">
  </div>
        {%  else %}
        <div class="" id="main_gate">
    <img src="{% static "account/images/main_gate.jpg" %}" alt="">
  </div>
{% endif %}
</div>

{% endblock %}